body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}
.current-location-btn{
    right:0;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 99999;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    box-shadow:5px 5px 5px #b1b0b0
}

.target-icon{
    display: block;
    width: 40px;
    height:40px;
    margin: auto;
    position: relative;
    top: 50%;
    margin-top: -20px;
}

/*IE9*/
*::selection 
{
    background-color:transparent;
} 
*::-moz-selection
{
    background-color:transparent;
}
*
{        
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    /*IE10*/
    -ms-user-select: none;
    user-select: none;

    /*You just need this if you are only concerned with android and not desktop browsers.*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}    
input[type="text"], textarea, [contenteditable]
{

    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.here-block{
    height: 44px;
    padding-bottom: 14px;
}

.text-here-outer{
    float:left;
    width: 60%;
}

.btn-new-outer{
    float:left;
    width: 40%;
    height: 58px;
}

.btn-new{
    background-color: #cc3300;
    color: #fff;
    border-radius: 12px;
    padding: 7px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 58px;
    padding-top: 0px;
    padding-bottom: 0px;

}

.text-here{
    font-size: 16px;
    text-align: center;
    padding: 7px;
}


/*OVERWRITE Leaflet style*/
.leaflet-popup-close-button{
    display: none !important;
}

.leaflet-popup-content{
    margin: 0 !important;
    width: 170px !important;
}

.leaflet-popup-content-wrapper{
    padding: 0 !important;
}

.icon-size-standart{
    font-size: 40px;
}

.icon-size-small{
    font-size: 30px;
}

.icon-white{
    color:white;
}

.icon-green{
    color:green;
}

.curr-loc-marker{
    color: #ef6a5f;
}

.leaflet-control-layers-toggle{ 
    display: none;
}

.main.panel{
    border:none;
}

#accordion {
    position: fixed;
    bottom: 0;
    width: 100%;   
    z-index: 999;
}

.main.panel-heading{
    background: #00B4FF;
}

.main.panel-heading {
    padding: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-group .main.panel {
    border-radius: 0;
}

.main.panel-title a {
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px 15px;
    font-size: 24px;
    font-family: Helvetica,Arial,sans-serif;
    outline: none;
}

.main.panel-title a:hover, .main.panel-title a:focus, .main.panel-title a:active {
    text-decoration: none;
    outline: none;
}

.material-switch{
    padding: 5px;
    font-size: 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.list-group-item{
    margin: 5px;
    font-size: 16px;
}

.msLeftFix{
    margin-top: 12px;
    margin-right:15px;
}

#layers{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

hr{
    margin: 0px;
    padding: 0px;
}

.panel-body{
    margin-bottom: 1px;
    padding-bottom: 0px;
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.panel-footer {
    margin-top: 10px;
    margin-bottom: -5px;
    padding-left: -15px;
    padding-right: -15px;
    height: 10px;
    width: 100%;
}

.scroll-pane{
    height: 200px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

#layerGroups a{
    display: block;
    width: 100%;
    height:100%;
    text-decoration: none;
}

#layerGroups .panel-heading {
    height: 40px;
}

#layerGroups .panel {
    margin-top: 10px;
}

.leaflet-control-wms-legend{
    display: block;
    padding: 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    cursor: auto;
    text-align: center;
    background: rgba(255,255,255,0.8);
}